<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color:black;
        }
        div{
            color: yellow;
            text-align: left;
            height: 100px;
        }
        h2{
            text-align: center;
            color: rgb(241, 57, 241);
    
        }
        h4{
            text-align: center;
        
        }
    </style>
</head>
<body>
    <div>
    
   <h2> your salary expectation</h2>
            <h4>{{pre}}</h4>
    </div>
    <div>

        <h2>SEE THE GRAPH</h2>
        <a href="/ram/">see the graphical estamation</a>
    </div>


</body>
</html>